<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/auction" routerLinkActive="active-link">Auction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/auction/create" routerLinkActive="active-link">create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
